<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<nav>
    <ul th:if="${session.username==null}">
        <li>
            <a href="/member/login">로그인</a>
        </li>
        <li>
            <a href="/board/list">게시판</a>
        </li>
    </ul>
    <ul th:if="${session.username!=null}">
        <li>
            <a href="#" onclick="doLogout();">로그아웃</a>
        </li>
        <li>
            <a href="/board/write">글쓰기</a>
        </li>
        <li>
            <a href="/board/list">게시판</a>
        </li>
    </ul>
</nav>
<script>
    function doLogout() {
        // 동적으로 폼만들기 : 폼 만든다 -> html에 붙인다 -> form을 선택해서 submit
        const form = `<form action="/member/logout" method="post" id="logout-form"></form>`;
        document.body.innerHTML = form;
        document.getElementById('logout-form').submit();
    }
</script>
</body>
</html>














